@import 'colors';
@import 'mixins';

.main-color {
    color: $color-main;
}

* {
    font-family: 'Roboto', sans-serif;
}

// CLASSES
.btn-default{
    background-color: $color-main;
    color: #fff;
    @include border-color-opacity($color-main, 0.5);
}

.btn-default:hover{
    @include background-opacity($color-main, 0.8);
    color: #fff;
    @include border-color-opacity($color-main, 0.5);
}

// TAGS

body,
html {
    width: 100%;
    height: 100%;
    font-weight: 100;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

a{
    color: $color-main;
}

// NAVBAR

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand{
    color: $color-main;
    font-size: 2em;
}

.navbar-brand>img {
    display: inline;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: $color-main;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #000;
    background: url(../img/pencil.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;

    h3 {
        font-weight: 300;
    }
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    font-size: 3.5em;
    font-weight: 200;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid $color-main;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/road.jpg) no-repeat center -30px;
    background-size: cover;
    font-weight: 300;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
